body
{
    color: #808080;
}

*
{
    font-family: Snell Roundhand,HelveticaNeue-light,Arial,sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#menu
{
    text-align:center;
    margin: 30px;
    padding: 0px;
    border: 0px;
}

#menu ul li
{
    display: inline;
    height: 80px;
    line-height: 80px;
    margin: 0 18px;
    vertical-align: middle;
}

#menu ul li a
{
    color: #808080;
    font-size: 1.2em;
    text-decoration: none;
    text-align:center;
}

#menu ul li a:hover
{
    color: #000000;
}

#alliances
{
    display:block;
    background:url("../images/alliances.png") no-repeat scroll center center transparent;
    text-indent: -10000px;
    background-size: 100%;
    height: 400px;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

#presentation p
{
    padding: 40px;
    text-align: center;
}

#announcement
{
    color: #696969;
    display: block;
    background:url("../images/rose.png") no-repeat scroll center center transparent;
    height: 450px;
    width: 990px;
    margin: auto;
}

#announcement #text
{
    text-align: center;
    margin: auto;
    padding-top: 205px;
}

#date
{
    padding-top: 80px;
}

#container
{
    position:relative;
    width:990px;
    margin:auto;
}

#container #map
{
    width:500px;
    height:500px;
    margin:auto;
}

#destinationForm #direction
{
    position:relative;
    width:800px;
    margin:auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

#destinationForm #direction input
{
    font-family: HelveticaNeue-light;
}

#panel
{
    font-family: HelveticaNeue-light;
}

#contact
{
    display: block;
    position:relative;
    width: 200px;
    margin: auto;

}

#success
{
    display: block;
    text-align: center;
}
