{% extends "WeddingProjectBundle::layout.html.twig" %}

{% block body %}

    {% block faire_part_body %}
    <div id="announcement">
        <div id="text">
            <p>
                Pour l'un des plus beaux jours de votre vie,
            </p>
            <p>
                l'entreprise FatBot Média vous propose ses services afin de créer votre site pour cet évènement !
            </p>
            <p>
                Ce site vous permettra de rester en contact avec vos invités et de tenir à jours votre organisation.
            </p>
            <p>
                Plusieurs options sont possibles, nous apdaptons à votre demande et vos besoins.
            </p>
            <p>
               Pour plus de renseignements, contactez-nous !
            </p>
        </div>
    </div>
    {% endblock %}
{% endblock %}