{% extends "WeddingProjectBundle::layout.html.twig" %}

{% block body %}

        {% block contact_body %}
            <form id="contact" method="get" action="sendMail">
                <div id="formulaire">
                    <table>
                        <tr>
                            <td>
                                <label for="lastName">Nom :</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input name="lastName" id="lastName" placeholder="Nom" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="firstName">Prénom :</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input name="firstName" id="firstName" placeholder="Prénom" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="email">e-mail :</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="email" name="email" id="email" placeholder="Ex: exemple@mariage.fr" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="weddingDate">Date du mariage :</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input name="weddingDate" id="weddingDate" placeholder="Date du mariage" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="message">Message :</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <textarea id="message" name="message" placeholder="Message" rows="5" cols="21"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="spam" name="spam" hidden="hidden"/>
                            </td>
                        </tr>
                    </table>
                </div>
                <input type="submit" value="valider"/>
            </form>
        {% endblock %}

{% endblock %}
