<!DOCTYPE>
<html>
    <head>
        <title>Formulaire mariage</title>
    </head>
    <body>
        <p>De : {{ email }}</p>
        <p>Bonjour {{ Nom }} {{ Prenom }} aimerais prendre contact avec vous</p>
        <p>Message : {{ message }}.</p>
    </body>
</html>
